.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  &:hover {
    border: 2px solid transparent;
  }
  &:focus {
    border: 2px solid var(--blue--100);
  }
  &:active {
    border: 2px solid transparent;
  }
}

.large {
  @extend .button;
  padding: 14.5px 32px;
}

.medium {
  @extend .button;
  padding: 12px 24px;
}

.small {
  @extend .button;
  padding: 8px 20px;
}

.rectangular {
  @extend .button;
  padding: 8px;
}

.default {
  @extend .button;
  background-color: var(--blue--400);
  color: white;
  &:hover {
    background: var(--blue--500);
    color: white;
  }

  &:focus {
    background: var(--blue--400);
    color: white;
    svg path {
      fill: white
    }
  }
  &:active {
    background: var(--blue--600);
    color: white;
  }
  
  &:disabled {
    background: var(--gray--500);
    color: var(--gray--400);
    svg path {
      fill: var(--gray--400)
    }
    &:hover {
      background: var(--gray--500);
      color: var(--gray--400);
    }
    &:active {
      background: var(--gray--500);
      color: var(--gray--400);
      svg path {
        fill: var(--gray--400)
      }
    }
  }
}

.light {
  @extend .button;
  background-color: white;
  color: var(--blue--900);
  svg path {
    fill: var(--blue--900)
  }
  &:hover {
    background-color: var(--gray--300);
    color: var(--blue--900);
  }
  &:focus {
    // в макете нет стилей
    background-color: var(--gray--300);
    color: var(--blue--900);
    svg path {
      fill: var(--blue--900)
    }
  }
  &:active {
    // в макете нет стилей
    background-color: var(--gray--300);
    color: var(--blue--900);
    svg path {
      fill: var(--blue--900)
    }
  }
}

.transparent {
  background-color: transparent;
  color: var(--blue--300);
  svg path {
    fill: var(--blue--300)
  }
  &:hover {
    background-color: rgba(0, 75, 255, 0.2);
    color: var(--blue--300);
  }
  &:focus {
    // в макете нет стилей
    background-color: rgba(0, 75, 255, 0.2);
    color: var(--blue--300);
    svg path {
      fill: var(--blue--300)
    }
  }
  &:active {
    // в макете нет стилей
    background-color: rgba(0, 75, 255, 0.2);
    color: var(--blue--300);
    svg path {
      fill: var(--blue--300)
    }
  }
}