.select {
  :global(.ant-select-selector) {
    height: 48px !important;
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    background: #f4f4f7 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
  }
  :global(.ant-select-selection-placeholder) {
    color: #808286;
  }
}

:global(.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
    .ant-select-selector) {
  background: #f4f4f7;
  border: 1px solid #eb0404;
  border-radius: 4px;
}

:global(.ant-select-single .ant-select-selector::after, .ant-select-single
    .ant-select-selector
    .ant-select-selection-item::after, .ant-select-single
    .ant-select-selector
    .ant-select-selection-placeholder::after) {
  border: 1px solid #eb0404 !important;
}

:global(.ant-select-focused) {
  :global(.ant-select-selection-placeholder) {
    color: #01050d;
  }
}

:global(.ant-select:hover .ant-select-selector) {
  border: 1px solid #b7bdc8 !important;
  border-radius: 4px !important;
}

:global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector) {
  border: 1px solid #004bff !important;
}

:global(.ant-select-open:hover .ant-select-selector) {
  border: 1px solid #004bff !important;
  color: #01050d;
}

:global(.ant-select-open .ant-select-selector) {
  border: 1px solid #004bff !important;
  color: #01050d;
}

:global(.ant-select-open .ant-select-selector .ant-select-selection-item) {
  color: #01050d;
}

:global(.ant-select-item-option-content) {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #808286;
}

:global(.ant-select-item-option-content:hover) {
  color: #01050d;
  background: none !important;
}
:global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
  background: rgba(237, 238, 242, 0.3) !important;
}
:global(.ant-select-item-option:hover) {
  background: rgba(237, 238, 242, 0.3) !important;
}

.select_disabled {
  :global(.ant-select-selector) {
    border: none !important;
  }
}
