@font-face {
    font-family: 'RFDewi-Regular';
    src: url('../assets/fonts/RFDewi-Regular/RFDewi-Regular.eot');
    src: url('../assets/fonts/RFDewi-Regular/RFDewi-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/RFDewi-Regular/RFDewi-Regular.svg#RFDewi-Regular') format('svg'),
         url('../assets/fonts/RFDewi-Regular/RFDewi-Regular.ttf') format('truetype'),
         url('../assets/fonts/RFDewi-Regular/RFDewi-Regular.woff') format('woff'),
         url('../assets/fonts/RFDewi-Regular/RFDewi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RFDewi-Bold';
    src: url('../assets/fonts/RFDewi-Bold/RFDewi-Bold.eot');
    src: url('../assets/fonts/RFDewi-Bold/RFDewi-Bold.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/RFDewi-Bold/RFDewi-Bold.svg#RFDewi-Bold') format('svg'),
         url('../assets/fonts/RFDewi-Bold/RFDewi-Bold.ttf') format('truetype'),
         url('../assets/fonts/RFDewi-Bold/RFDewi-Bold.woff') format('woff'),
         url('../assets/fonts/RFDewi-Bold/RFDewi-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RFDewiExtended-Black';
    src: url('../assets/fonts/RFDewiExtended-Black/RFDewiExtended-Black.eot');
    src: url('../assets/fonts/RFDewiExtended-Black/RFDewiExtended-Black.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/RFDewiExtended-Black/RFDewiExtended-Black.svg#RFDewiExtended-Black') format('svg'),
         url('../assets/fonts/RFDewiExtended-Black/RFDewiExtended-Black.ttf') format('truetype'),
         url('../assets/fonts/RFDewiExtended-Black/RFDewiExtended-Black.woff') format('woff'),
         url('../assets/fonts/RFDewiExtended-Black/RFDewiExtended-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}