@import 'antd/dist/antd.css';
@import './font.scss';
@import './variables.css';
@import './mixins.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  width: 1300px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
  @include media-breakpoint-down(lg) {
    width: 100%;
    padding: 0 30px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    padding: 0 22px;
  }
  @include media-breakpoint-down(sm) {
    width: 100%;
    padding: 0 16px;
  }
}
