:root {
  /* Colors */
  --white--100: #ffffff;
  --white--200: #e7e9ec;

  --black-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  --blue--100: #58d9ef;
  --blue--200: #3e76ff;
  --blue--300: #1a5dff;
  --blue--400: #004bff;
  --blue--500: #0141db;
  --blue--600: #0132a8;
  --blue--700: #004bff33;
  --blue--800: #13171e;
  --blue--900: #01050d;
  --blue-gradient: linear-gradient(
    180deg,
    rgba(0, 97, 254, 0) 9.24%,
    #0061fe 37.81%,
    #004bff 41.68%,
    #01050d 83%
  );

  --gray--100: #f3f4f5;
  --gray--200: #f4f4f7;
  --gray--300: #e7e9ec;
  --gray--400: #b7bdc8;
  --gray--500: #808286;
  --gray--600: #86878b;

  --red: #eb0404;

  --pink: #f92672;

  /* Fonts desktop */
  --font-title-big: 800 80px/104px RFDewiExtended-Black, sans-serif;
  --font-title-h1: 800 52px/68px RFDewiExtended-Black, sans-serif;
  --font-title-h2: 800 40px/52px RFDewiExtended-Black, sans-serif;
  --font-title-h3: 800 32px/42px RFDewiExtended-Black, sans-serif;
  --font-title-h4: 800 24px/34px RFDewiExtended-Black, sans-serif;
  --font-main: 600 20px/30px RFDewi-Bold, sans-serif;
  --font-text-regular: 400 16px/24px RFDewi-Regular, sans-serif;

  --font-confid: 400 14px/21px RFDewi-Bold, sans-serif;
  --font-btn: 600 14px/21px RFDewi-Bold, sans-serif;
  --font-btn-big: 600 16px/24px RFDewi-Bold, sans-serif;

  --font-input: 400 16px/24px RFDewi-Regular, sans-serif;
  --font-label: 600 16px/24px RFDewi-Bold, sans-serif;

  /* Fonts mobile */
  --font-title-big-mobile: 800 40px/52px Inter, sans-serif;
  --font-title-h1-mobile: 800 28px/36px RFDewiExtended-Black, sans-serif;
  --font-title-h2-mobile: 800 24px/28px RFDewiExtended-Black, sans-serif;
  --font-title-h3-mobile: 800 20px/26px RFDewiExtended-Black, sans-serif;
  --font-title-h4-mobile: 800 18px/25px RFDewiExtended-Black, sans-serif;
  --font-main-mobile: 600 16px/24px RFDewi-Bold, sans-serif;
  --font-text-regular-mobile: 400 14px/21px RFDewi-Regular, sans-serif;
}
